body{
    background-color: rgb(0, 141, 146);
    text-align: center;
    margin: 100px 80px
}
table{
    border: 5px solid blue;
    background-color: greenyellow;
    width: 800px;
    height: 300px;
    margin: auto;
}
.gg{
    background-color: forestgreen;
}
.rr{
    background-color: green;
}
